  .container {
      width: 100%;
      height: 100%;
  }
  main {
      padding-top: 56px;
          width: 100%;
          height: 100%;
          padding-bottom: 56px;
  }
  .troll {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  .masthead {
  font-family: RoadRage !important;
    height: 50px;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #site-footer {
    color: white;
    margin-top: 150px;
    width: 100%;
    height: 56px;
    background-color: #181a1b;
  }
  .nalian{
      margin-top: 56px;
  }
  body {
    background-image: url('/img/download.png');
    height:100%;
    width: 100%;

  }
  footer{
    border-top: 1px solid white;
    font-family: RoadRage !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #1F1F1F, #181a1b);
    color: white;
    text-align: center;
  }
  .navbar{
    border-bottom: 1px solid white;
    background: linear-gradient(to right, #1F1F1F, #181a1b);
  }
  .row{
    margin: 0px !important;

  }
  .mchead{

  }
  @font-face {
    font-family: RoadRage;
    src: url('/font/Road_Rage.otf');
  }
  @font-face {
    font-family: Bebas;
    src: url('/font/Bebas-Regular.otf');
  }
  .mcheadder{
    font-family: RoadRage !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .maintext{

    text-align: center;
    color:white;
    font-size: 20px !important;
    font-family: Bebas !important;
    background-color:rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    
  }

  .navbar-brand{
    font-family: RoadRage !important;
    color:white!important;
  }
  .footer-brand{
    font-size: 15px!important;
    color:white!important;
    padding: 5px!important;
  }
  .discordlink{
    font-family: RoadRage !important;
    color:white!important;
    font-size: 20px!important;
  }
